<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="measure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="measure.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <measure.Properties.Settings>
            <setting name="keithley_com_port" serializeAs="String">
                <value>COM 2</value>
            </setting>
            <setting name="keithley_speed" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="keithley_data_bits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="keithley_stop_bits" serializeAs="String">
                <value>OnePointFive</value>
            </setting>
            <setting name="keithley_parity" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="keithley_flow_control" serializeAs="String">
                <value>XOnXOff</value>
            </setting>
            <setting name="agilent_com_port" serializeAs="String">
                <value>COM 4</value>
            </setting>
            <setting name="agilent_speed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="agilent_data_bits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="agilent_stop_bits" serializeAs="String">
                <value>OnePointFive</value>
            </setting>
            <setting name="agilent_parity" serializeAs="String">
                <value>Odd</value>
            </setting>
            <setting name="agilent_flow_control" serializeAs="String">
                <value>RequestToSend</value>
            </setting>
        </measure.Properties.Settings>
        <measure.Settings>
            <setting name="keithley_com_port" serializeAs="String">
                <value>COM 2</value>
            </setting>
            <setting name="keithley_speed" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="keithley_data_bits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="keithley_stop_bits" serializeAs="String">
                <value>OnePointFive</value>
            </setting>
            <setting name="keithley_parity" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="keithley_flow_control" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>XOnXOff</value>
            </setting>
        </measure.Settings>
    </userSettings>
</configuration>